.App {
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 50px;
}
#search-box {
  width: 20em;
}

.searchBtn {
  background-color: #668fff;
  color: white;
  padding: 10px 20px;
  margin: auto 10px;
  border-radius: 1em;
}

.resultBoxes {
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw 2vh; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 50vh 30vw;
}
.displayBox {
  background-color: rgb(220, 220, 220);
  padding: 1vw;
  margin: 2vw;
}