body {
  background-color: #7a7872;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-page {
  width: 100%;
}
.search-area {
  width: 100%;
  padding: 3% 1% 2% 1%;
}

.result-area {
  width: 100%;
}
.search-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #ecf0ff;
}
.search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 17.8%;
  min-height: 100%;
}

#search-box {
  width: 20em;
}

.space {
  width: 10px;
}

.searchBtn {
  color: white;
  padding: 10px 20px;
  margin: auto 10px;
  border-radius: 1em;
}

.searchBox {
  display: flex;
  flex-direction: 'row';
  flex-wrap: 'wrap';
  justify-content: 'center';
  align-items: 'center';
  margin: auto 5em;
}
.resultBoxes {
  display: 'flex';
  flex-direction: 'column';
  margin: auto 10vw;
  width: 80%;
}
.result-card {
  background-color: #d6e7ff;
  border-radius: 0.7em;
  margin-bottom: 1em;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-link {
  color: rgb(25, 60, 125);
  text-decoration:none;
}
.result-link:hover {
  color: rgb(239, 245, 255);
}
.result-card:hover {
  background-color: #7776BC;
}
.displayBox {
  background-color: rgb(184, 184, 184);
  padding: 1vw;
  margin: 2vw;
}

.search-settings {
  display: flex;
  width: 50%;
  justify-content: center;
}

.spinner {
  padding: 10%;
}

.error-msg {
  padding: 10%;
  color: #CF6679;
}

